.demo-section {
  width: calc(0.2 * 1 / 3 * 100%);
  margin-left: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.demo-section-video-wrapper {
  position: relative;
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.demo-video-wrapper {
  position: relative;
}
.demo-video {
  height: 300px;
  width: 300px;
  border-radius: 2rem;
  background-color: black;
  object-fit: cover;
}
.demo-section-sign-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  position: relative;
}
.demo-section-sign-wrapper-language-btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  position: absolute;
  top: -20px;
  left: 0;
  transform: translate(0, -100%);
}
.demo-section-sign-wrapper-sign-table-wrapper {
  width: 100%;
  height: calc(100% - 60px);
  overflow-y: scroll;
  padding: 30px 0;
}

.language-btn {
  width: auto;
  height: 2.6rem;

  padding: 0 1rem;
  margin: 0 1rem;

  border-radius: 30px;
  background-color: transparent;
  border: none;
  color: #585858;
  text-align: left;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.language-btn:hover {
  color: #598bdc;
}
.language-btn.active {
  color: #598bdc;
}
.language-btn:focus {
  outline: 0;
}

.jsl-sign-table {
  height: 100%;
  overflow-y: scroll;
}
.jsl-sign-button {
  width: 100%;
  border: none;
  font-size: 1rem;
  text-align: left;

  cursor: pointer;
  transition: all 0.2s;
  background-color: transparent;

  padding: 5px 0 5px 30px;
}
.jsl-sign-button:hover {
  background-color: #000;
  color: #fff;
}
.jsl-sign-button:active {
  background-color: #000;
  color: #fff;
}
.jsl-sign-button:focus {
  outline: 0;
}
.hksl-sign-table {
  height: 100%;
  overflow-y: scroll;
}
.hksl-sign-button {
  width: 100%;
  border: none;
  font-size: 1rem;
  text-align: left;

  cursor: pointer;
  transition: all 0.2s;
  background-color: transparent;

  padding: 5px 0 5px 30px;
}
.hksl-sign-button:hover {
  background-color: #000;
  color: #fff;
}
.hksl-sign-button:active {
  background-color: #000;
  color: #fff;
}
.hksl-sign-button:focus {
  outline: 0;
}

.jsl-sign-button.active {
  background-color: #7ecbbd;
}
.hksl-sign-button.active {
  background-color: #7ecbbd;
}
