@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.processing-loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader-animation {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #7ecbbd;
  border-radius: 50%;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #7ecbbd transparent transparent transparent;
}
